* {
  padding: 0;
  margin: 0;
}


/* lenis css */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* <<<<<< lenis css */


html {
  font-size: 16px;
  font-family: 'Figtree', sans-serif;
  line-height: 1.5;
}


body {
  background-color: rgba(31, 34, 53, 255);
}

.tags {
  color: rgb(255, 123, 0);
  margin: 40px 0;
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-color: #ffff;
  text-underline-offset: 10px;
}


/* navbar */
.main-header {
  position: relative;
}

.bg_nav {
  position: fixed;
  left: 0;
  top: 40px;
  width: 100px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}

.main-header img {
  width: 50px;
  height: auto;
  position: absolute;
  left: 30px;
  top: 10px;
}

.section {
  height: 100vh;
  /* For demonstration, adjust as needed */
}


.burger_menu {
  position: relative;
}

.bg_nav_menu {
  position: fixed;
  right: 0;
  top: 40px;
  width: 100px;
  height: 50px;
  background-color: rgb(255, 123, 0);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}

.burger_menu i {
  position: absolute;
  right: 40px;
  top: 10px;
}

.fa {
  color: #fff;
  transition: 1s;

}

.fa:hover {
  color: #000000;
}


.sidenav {
  overflow: hidden;
  height: 50px;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 40px;
  right: 0;
  background-color: rgb(255, 123, 0);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow-x: hidden;
  transition: 0.5s;
  text-align: center;
}

.sidenav a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #ffffff;
  display: block;
  transition: 1s;

}

.sidenav a:hover {
  color: #000000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 40px;
  font-size: 35px;
  margin-left: 50px;
}


.header-section ul {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  align-items: center;
  padding: 10px 0 0 50px;
}

li {
  list-style-type: none
}














#img1,
#img2,
#img3 {
  visibility: hidden;
}

.landingpage-text-container h2:first-of-type {
  margin-top: 11rem;
}

.landingpage-text-container {
  height: 50vh;
}

.landingpage-text-container h2 {
  padding: 0 20px;
  font-size: clamp(1.25rem, 0.6136rem + 3.1818vw, 3rem);
  color: #fff;
}

.landingpage-text-container p {
  padding: 0 20px;
  font-size: clamp(0.5625rem, 0.4489rem + 0.5682vw, 0.875rem);
  color: #fff;
}

/* flex section home >>>>*/

.landingpage-flex {
  text-align: center;
}

/* <<<< flex section home */


/* about me >>>> */

.about_tag {
  padding-right: 40px;
  text-align: right;
}

.about_media,
.about_text {
  margin: 0 45px;
  text-align: center;
}

.about_text h2 {
  margin: 20px 0;
  color: rgb(255, 123, 0);
  font-size: 2rem;
}

.about_text p {
  margin: 0 0 20px 0;
  text-align: justify;
  font-size: 1.2rem;
  color: #fff;
}

.about_media img {
  width: 300px;
  height: auto;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.social {
  text-align: left;
}

.social img {
  width: 30px;
  height: auto;
  margin: 0 .2rem;
}


/* what i do >>>>> */



#front-end-bg {
  background-color: rgb(255, 123, 0);
}

#front-end-bg h4 {
  color: #000000;
}

lord-icon {
  width: 70px;
  height: 70px;
  margin-top: 10px;
}

.what_i_do {
  padding-left: 40px;
  font-size: 1.5rem;
}

.what_i_do_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.my_jobs {
  margin: 10px 10px;
  width: 250px;
  height: 230px;
  text-align: center;
  border-top: 2px solid rgb(255, 123, 0);
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.my_jobs p {
  padding: 5px 10px;
  font-size: 0.9rem;
  color: #fff;
}

.my_jobs h4 {
  padding: 10px 6px;
  font-size: 1.3rem;
  color: rgb(255, 123, 0);
}

/*................education....................*/
.education_tag {
  padding-right: 40px;
  text-align: right;
}

.education_media {
  text-align: center;
}

.education_media img {
  border-radius: 50%;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.education_text {
  text-align: center;
}

.education_text h4 {
  margin: 20px 0;
  color: rgb(255, 123, 0);
  font-size: 1.5rem;
}

.education_text li {
  list-style-type: none;
  font-size: 1rem;
  color: #fff;
}

/*................ojt...........................*/

.ojt_tag {
  padding-left: 40px;
  text-align: left;
}

.ojt_media {
  text-align: center;
}

.ojt_media img {
  width: 250px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ojt_text {
  margin: 0 50px;
}

.ojt_text h4 {
  text-align: center;
  margin: 20px 0;
  color: rgb(255, 123, 0);
  font-size: 1.5rem;
}

.ojt_text li {
  list-style-type: none;
  font-size: 0.9rem;
  color: rgb(160, 167, 223);
}

.ojt_text li:last-of-type {
  margin: 0 0 10px 0;
}

.ojt_text p {
  color: rgb(196, 200, 219);
  margin: 0 0 10px 0;
}

.ojt_text p:last-of-type {
  color: rgb(160, 167, 223);
  margin-bottom: 50px;
}

/* .skills_section */
.skills_tag {
  padding: 80px 40px 40px 0;
  text-align: right;
}

.web_tag {
  padding-left: 40px;
  text-align: left;
}

.skills_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
  gap: 2rem;
}

.skills_flex>div {
  width: 250px;
}

.skills_text {
  position: relative;
  background-color: rgba(31, 34, 53, 255);
  width: 30px;
  height: 115px;
  padding: 15px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
}

.skills_text p:last-of-type {
  padding: 3px 0;
}

.skills_text h4 {
  font-size: 1rem;
  color: rgb(255, 123, 0);
}

.skills_text p {
  font-size: 0.7rem;
}

.colors {
  color: rgb(0, 221, 166);
}

.table_width {
  width: 100%;
}

/* image inside skills */
.skills_text img {
  position: absolute;
  bottom: 60px;
  left: 180px;
  width: 50px;
  height: auto;
}

/* bar width skills */
.html {
  width: 100%;
  background: linear-gradient(to right,
      rgb(255, 123, 0) 70%,
      rgb(255, 155, 62, 0.205) 50%,
      rgba(255, 155, 62, 0.205) 100%);
  text-align: right;
}

.css {
  width: 100%;
  background: linear-gradient(to right,
      rgb(255, 123, 0) 65%,
      rgb(255, 155, 62, 0.205) 30%,
      rgba(255, 155, 62, 0.205) 100%);
  text-align: right;
}

.javascript {
  width: 100%;
  background: linear-gradient(to right,
      rgb(255, 123, 0) 32%,
      rgb(255, 155, 62, 0.205) 32%,
      rgba(255, 155, 62, 0.205) 100%);
  text-align: right;
}

.php {
  width: 100%;
  background: linear-gradient(to right,
      rgb(255, 123, 0) 23%,
      rgb(255, 155, 62, 0.205) 23%,
      rgba(255, 155, 62, 0.205) 100%);
  text-align: right;
}

.mysql {
  width: 100%;
  background: linear-gradient(to right,
      rgb(255, 123, 0) 31%,
      rgb(255, 155, 62, 0.205) 31%,
      rgba(255, 155, 62, 0.205) 100%);
  text-align: right;
}



.photoshop {
  width: 100%;
  background: linear-gradient(to right,
      rgb(255, 123, 0) 60%,
      rgb(255, 155, 62, 0.205) 60%,
      rgba(255, 155, 62, 0.205) 100%);
  text-align: right;
}

.illustrator {
  width: 100%;
  background: linear-gradient(to right,
      rgb(255, 123, 0) 20%,
      rgb(255, 155, 62, 0.205) 20%,
      rgba(255, 155, 62, 0.205) 100%);
  text-align: right;
}

.indesign {
  width: 100%;
  background: linear-gradient(to right,
      rgb(255, 123, 0) 20%,
      rgb(255, 155, 62, 0.205) 20%,
      rgba(255, 155, 62, 0.205) 100%);
  text-align: right;
}

.canva {
  width: 100%;
  background: linear-gradient(to right,
      rgb(255, 123, 0) 35%,
      rgb(255, 155, 62, 0.205) 35%,
      rgba(255, 155, 62, 0.205) 100%);
  text-align: right;
}

.aftereffects {
  width: 100%;
  background: linear-gradient(to right,
      rgb(255, 123, 0) 10%,
      rgb(255, 155, 62, 0.205) 10%,
      rgba(255, 155, 62, 0.205) 100%);
  text-align: right;
}


.word {
  width: 100%;
  background: linear-gradient(to right,
      rgb(255, 123, 0) 85%,
      rgb(255, 155, 62, 0.205) 85%,
      rgba(255, 155, 62, 0.205) 100%);
  text-align: right;
}

.powerpoint {
  width: 100%;
  background: linear-gradient(to right,
      rgb(255, 123, 0) 88%,
      rgb(255, 155, 62, 0.205) 88%,
      rgba(255, 155, 62, 0.205) 100%);
  text-align: right;
}

.excel {
  width: 100%;
  background: linear-gradient(to right,
      rgb(255, 123, 0) 46%,
      rgb(255, 155, 62, 0.205) 46%,
      rgba(255, 155, 62, 0.205) 100%);
  text-align: right;
}

.publisher {
  width: 100%;
  background: linear-gradient(to right,
      rgb(255, 123, 0) 10%,
      rgb(255, 155, 62, 0.205) 10%,
      rgba(255, 155, 62, 0.205) 100%);
  text-align: right;
}


.softskills {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  padding: 52px 200px;
  gap: 1.5rem;
}

.softskills>div {
  width: 200px;
}

.softskills_text {
  background-color: rgba(31, 34, 53, 255);
  width: 350px;
  height: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.softskills div:nth-child(odd) {
  color: rgb(0, 221, 166);
}

.softskills div:nth-child(even) {
  color: #fff;
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
}

/* The dots/bullets/indicators */
.skills_menu {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  grid-gap: 15px;
  text-align: center;
}

.sectionName {
  cursor: pointer;
  height: 25px;
  width: 100px;
  margin: 0 2px;
  color: #fff;
  display: inline-block;
  transition: background-color 0.6s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 3px 0;
  font-size: 0.7rem;
}

.active,
.sectionName:hover {
  color: rgb(255, 123, 0);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* .graphicdesign_section*/
.projects_tag {
  padding: 40px 40px 40px 0;
  text-align: right;
}


.column_media img {
  margin-top: 8px;
  width: clamp(9.375rem, 29.762vw - 1.786rem, 12.5rem);
  height: auto;
  box-shadow: -10px 8px 14px rgba(0, 0, 0, 0.329)
}

.graphic_tag {
  text-align: center;
  padding: 0;
  margin: 0;
}

.graphic_tag h1 {
  margin-bottom: 14px !important;
  text-align: center;
}

.graphic_tag h2 {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 20px;
}

.graphic_tag p {
  color: rgb(160, 167, 223);
  font-size: 0.780rem;
  margin: 0 70px;
}

.row_media {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  text-align: center;
  padding: 0 50px;

}



.designPortfolio_btn {
  width: 200px;
  height: 40px;
  border-radius: 22px;
  border-color: rgb(255, 123, 0);
  margin: 20px 0;
  background: none;
  color: #fff;
}

/*.........................front end projects........................*/


.frontend_tag {
  padding: 0 40px 0 0;
  text-align: right;
}

.frontend_media {
  text-align: center;
}

.frontend_media img {
  width: 300px;
  height: auto;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.frontend_text h3 {
  text-align: center;
  margin: 20px 30px 0 30px;
  color: rgb(255, 123, 0);
  font-size: 1.2rem;
}

.frontend_text p {
  margin: 20px 50px 50px 50px;
  text-align: justify;
  font-size: 0.9rem;
  color: rgb(160, 167, 223);
}

/* social platform */
.social_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem;
}

.social_container {
  position: relative;
  width: 20%;
  height: auto;
}

.social_media {
  display: block;
  width: 130px;
  height: 120px;
  border-radius: 50%;
}

.social_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 200px;
  height: 190px;
  opacity: 0;
  transition: .3s ease;
  border-radius: 50%;
}

.social_container:hover .social_overlay {
  opacity: 1;
}

.social_icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.social_text {
  padding: 10px 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  width: 230px;
  font-size: 0.5rem;
  z-index: -1;
}

.social_container:hover .social_text {
  bottom: -45%;
  transition: .3s ease;
}


.platforms_tag {
  padding: 0 0 0 40px;
  text-align: left;
}

/* saying */

.saying {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 160px 0;
}

blockquote {
  font-family: Georgia, serif;
  font-size: 2rem;
  font-style: italic;
  width: 530px;
  margin: 0.25em 0;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  color: #999999;
}

blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}

blockquote cite {
  position: absolute;
  left: 350px;
  top: 180px;
  color: #383838;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: "\2014 \2009";
}


/* footer section */
.footer_section {
  background-color: rgb(22, 25, 43);
  padding: 70px 0;
}

.footer_text h1 {
  text-align: left;
  color: rgb(255, 123, 0);
  margin: 0 40px 10px 40px;
  font-size: 2.5rem;
}

.footer_text p {
  width: 90%;
  height: auto;
  color: rgb(71, 75, 100);
  margin: 0 40px 20px 40px;
}

.footer_icon {
  margin: 0 40px 10px 40px;
}

.footer_icon a {
  margin: 5px;
}

.footer_icon img {
  width: 30px;
  height: 30px;
}

.box1_github img {
  width: 100px;
  height: 5;
}

.box2_gmail img {
  width: 50px;
  height: 40px;
}

.box_flex {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

.box1_github h2,
.box2_gmail h2 {
  color: #fff;
  font-size: 0.8rem;
  margin: 10px 0;
  text-align: center;
}

.box1_github {
  width: 200px;
  height: 200px;
  padding: 50px 0;
  border: 1px solid red;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 10px 10px rgb(41, 14, 14);
}

.box2_gmail {
  width: 200px;
  height: 200px;
  padding: 50px 0;
  border: 1px solid rgb(27, 16, 194);
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 10px 10px rgb(15, 12, 63);
}


/* copyright */

.copy_right h1,
h2 {
  font-size: 0.8rem;
  color: rgb(71, 75, 100);
}

.copy_right {
  margin-top: 50px;
  text-align: center;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .about_media,
  .about_text {
    margin: 0 65px;
    text-align: center;
  }






}

/* Medium devices (landscape tablets, 768px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .about_media,
  .about_text {
    margin: 0 85px;
    text-align: center;
  }


  /* what i do >>>>> */

  lord-icon {
    width: 90px;
    height: 90px;
    margin-top: 10px;
  }

  .my_jobs {
    width: 260px;
    height: 260px;
  }

  /*................ojt...........................*/

  .ojt_text {
    margin: 0 100px;
  }

  /* .skills_section */
  .skills_flex>div {
    width: 300px;
  }

  /* image inside skills */
  .skills_text img {
    left: 230px;
  }

  /* The dots/bullets/indicators */
  .skills_menu {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  /* .graphicdesign_section*/

  .row_media {
    padding: 0 100px;
    gap: 2rem;
  }

  .column_media img {
    width: 200px;
  }

  .graphic_tag h1 {
    font-size: 2rem;
  }

  .graphic_tag h2 {
    font-size: 1rem;
  }

  .graphic_tag p {
    font-size: 0.9rem;
    margin: 0 140px;
  }

  /*.........................front end projects........................*/
  .frontend_text {
    padding: 0 50px;
  }


  /* social platform */
  .social_media {
    width: 160px;
    height: 150px;
  }

  .social_text {
    left: 50%;
    font-size: 0.6rem;
  }

  /* saying */

  blockquote {
    width: 640px;
  }

  blockquote cite {
    left: 480px;
  }

  /* footer */
  .footer_text {
    margin: 0 100px 20px 0;
  }




}


/* Large devices (laptops/desktops, 868px and up) */
/* Large devices (laptops/desktops, 868px and up) */
/* Large devices (laptops/desktops, 868px and up) */
/* Large devices (laptops/desktops, 868px and up) */
/* Large devices (laptops/desktops, 868px and up) */
/* Large devices (laptops/desktops, 868px and up) */
/* Large devices (laptops/desktops, 868px and up) */
/* Large devices (laptops/desktops, 868px and up) */
/* Large devices (laptops/desktops, 868px and up) */
@media only screen and (min-width: 868px) {
  .about_flex {
    display: flex;
  }

  .about_media,
  .about_text {
    margin: 0 0;
  }

  .about_text {
    padding: 0 40px;
  }

  .about_media {
    padding: 0 0 0 40px;
  }

  /*................education....................*/
  .education_flex {
    display: flex;
    gap: 2rem;
    justify-content: center;
  }

  .education_text h4,
  li {
    text-align: left;
  }

  /*................ojt...........................*/
  .ojt_flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .ojt_media {
    order: 2;
  }

  .ojt_text {
    order: 1;
    margin: 0 40px;
  }

  .ojt_text h4 {
    text-align: left;
  }

  .ojt_text li,
  p {
    padding: 0 30px 0 0;
  }

  .ojt_media {
    padding: 0 40px 0 0;
  }

  /* .skills_section */

  .skills_flex>div {
    width: 330px;
  }

  .skills_text h4 {
    font-size: 1.2rem;
  }

  .skills_text p {
    font-size: 0.9rem;
  }

  .skills_text img {
    left: 260px;
  }

  /* .graphicdesign_section*/

  .row_media {
    padding: 0 100px;
  }

  .column_media img {
    width: clamp(12.5rem, 0vw + 12.5rem, 12.5rem);
  }

  .graphic_tag h1 {
    font-size: 2rem;
  }

  .graphic_tag h2 {
    font-size: 1rem;
  }

  .graphic_tag p {
    font-size: 0.9rem;
    margin: 0 170px;
  }

  /*.........................front end projects........................*/

  .frontend {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .frontend_media {
    margin: 0 40px;
  }

  .frontend_text {
    padding: 0 0 0 0;
  }

  .frontend_text h3 {
    text-align: center;
    margin: 0 40px 0 0;
  }

  .frontend_text p {
    margin: 0 0 0 0;
    padding: 30px;
    font-size: 0.9rem;

  }



}

/* Large devices (laptops/desktops, 992px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .my_jobs {
    width: 350px;
    height: 300px;
  }

  lord-icon {
    width: 100px;
    height: 100px;
  }

  .my_jobs p {
    font-size: 1.05rem;
  }

  .my_jobs h4 {
    font-size: 1.7rem;
  }

  /* education */
  .education_text h4 {
    font-size: 2rem;
  }

  .education_text li {
    font-size: 1.2rem;
  }

  /* ojt */
  .ojt_text h4 {
    font-size: 1.8rem;
  }

  .ojt_text li {
    font-size: 1rem;
  }

  .ojt_text p {
    font-size: 1rem;
  }

  .ojt_text {
    margin: 0 50px 0 100px;
  }

  /* .graphicdesign_section*/
  .row_media {
    padding: 0 150px;

  }

  .column_media img {
    width: clamp(12.5rem, 14.423vw + 3.558rem, 14.375rem);
  }

  /* frontend */
  .frontend_text h3 {
    font-size: 1.5rem;
  }

  .frontend_text p {
    font-size: 1rem;
  }

  .frontend_text p {
    padding: 20px 70px 50px;
  }

  .frontend_media {
    margin: 0 0 0 70px;
  }

  /* social platform */
  .social_flex {
    justify-content: center;
  }

  .social_media {
    width: 200px;
    height: 190px;
  }

  .social_text {
    left: 38%;
  }

  /* saying */
  blockquote {
    font-size: 3rem;
    width: 830px;
  }

  blockquote cite {
    left: 650px;
    top: 200px;
  }

  /* footer section */

  .footer_flex {
    display: flex;
    justify-content: space-evenly;
  }

  .footer_text {
    margin: 0 0 20px 40px;
  }

  .footer_text p {
    margin: 0 0 20px 40px;
    padding: 0;
  }

  .footer_contact {
    margin: 0 50px;
  }



}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .about_tag,
  .education_tag,
  .skills_tag,
  .projects_tag,
  .frontend_tag {
    padding-right: 120px;
  }

  .what_i_do,
  .ojt_tag,
  .web_tag,
  .platforms_tag {
    padding-left: 120px;
  }

  .about_flex {
    margin: 0 120px;
  }

  .about_text {
    margin: 0 30px;
  }

  .about_media {
    margin: 0 0 0 45px;
  }

  /* ojt */
  .ojt_flex {
    gap: 4rem;
    margin: 50px 130px 50px 30px;
  }

  .ojt_media {
    padding: 0;
  }

  /* .graphicdesign_section*/
  .graphic_mediaflex {
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
    gap: 2rem;

  }


  .row_media {
    order: 2;
    padding: 0 170px 0 0;
  }

  .graphic_tag {
    order: 1;
  }

  .graphic_tag {
    padding: 0;
    margin: 0 100px 0 100px;
  }

  .graphic_tag h1 {
    text-align: left;
  }

  .graphic_tag h2 {
    text-align: left;
  }

  .graphic_tag p {
    text-align: left;
    padding: 0;
    margin: 0;
  }

  .column_media img {
    margin-top: 8px;
    width: 150px;
    box-shadow: -10px 8px 14px rgba(0, 0, 0, 0.329), 0 6px 20px 0 rgba(0, 0, 0, 0.274);
  }

  /*.........................front end projects........................*/

  .frontend {
    margin: 50px 110px;
  }
    .frontend_text h3 {
      margin: 20px 50px 0 70px;
      font-size: 1.2rem;
      text-align: left;
    }

    .frontend_media img {
      width: 390px;
      height: auto;
    }

    /* social platform */

    .social_media {
      width: 300px;
      height: 290px;
    }

    .social_text {
      left: 40%;
    }

    /* footer section */
    .copy_right h2 {
      text-align: center;
    }

}

